*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px; 
}

.container{
    /*background-color: red;*/
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    transform-style: preserve-3d;
    min-height: 80vh;
    width: 35rem;
    border-radius: 30px;
    padding: 0rem 5rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

/*.weather-icon{
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*.weather-icon img{
    width: 9rem;
}*/

.degree-section{
    font-size: 50px;
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;

}

.circle{
   width: 16rem;
   height: 16rem;
   background: linear-gradient(
       to right,
       rgba(106, 208, 255, 0.75), 
       rgba(255, 161, 255, 0.75)
   );
   position: absolute;
   border-radius: 50%;
   z-index: 1;
   display: flex;
   align-items: center;
   justify-content: center; 
}

.location h1{
    font-size: 3rem;
    padding: 2.5rem 0rem;
    text-align: center;
}

.temp-description{
   font-size: 1.3rem;
    
}

.icon-description{
    text-align: center;
    padding: 2rem 0rem;
}


/*.location, .temp
 {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.temp {
    flex-direction: column;
}
.degree-section {
    display: flex;
    align-items: center;
}
.degree-section span {
    margin: 10px;
    font-size: 30px;
}
.degree-section h2 {
    font-size: 40px;
}*/